
@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Roboto&display=swap');

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Mynerve', cursive;
}

main {
    background-color: #151415;
    min-height: auto;
}

header {
    background-color: #151415;
}

footer {
    background-color: #151415;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px;
    padding: 16px;
}


a:hover {
    text-decoration: none;
    color: blue
}

a {
    text-decoration: none;
}

tr:nth-child(even) {
    background-color: gray;
}

.has-white-text {
    color: #E5EBEA
}

html, body {
    margin: 0;
    padding: 0;
}

nav a {
    color: #D3C5CC
}

div a {
    color: #D3C5CC
}

.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 16px;
}

img {
    box-shadow: 5px 5px 10px  #D3C5CC;
}